<div class="cd-request-popup js-cd-popup" data-name="header-callback" *ngIf="popupService.popupMessenger">
    <!-- На отправку этой формы надо навесить цель ga('send', 'event', 'design_megagroup_header', 'order_call', 'form_submit'); -->
    
      <button class="cd-request-popup__close js-close-cd-popup cd-btn secondary close-btn" 
        (click)="popupService.closePopup('messenger')"
      >
        <img 
          src="../assets/img/cross_w.png"
          alt=""
          (click)="popupService.closePopup('messenger')" class="img-close close">
      </button>

    <div class="cd-request-popup__content js-popup-content js-request">
      <p class="cd-request-popup__title">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">Оформити замовлення через:</font>
        </font>
      </p>
  
      <div class="mp-form-wrapper">
        <p class="mp-request-popup__text"></p>
        <form method="post" action="/" class="cd-form js-cd-form form" data-object="/solution">
  
          <div class="mp-form__btn">
            <button type="submit" class="cd-btn js-request form_submit_btn" style="width: 100%; background-color: #25d366;">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit" style="display: flex; ">
                  <div class="whatsapp-btn mp-button"></div> WhatsApp</font>
              </font>
            </button>
            <a href={{catalogService.srcTelBot(popupService.card.id)}} target="_blank" class="btn-href">
              <button type="button" class="cd-btn js-request form_submit_btn" style="width: 100%; background-color: #0088cc;">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit" style="display: flex; ">
                    <div class="tg-btn mp-button"></div> Telegram</font>
                </font>
              </button>
            </a>
            <button type="submit" class="cd-btn js-request form_submit_btn" style="width: 100%; background-color: #7360f2;">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit" style="display: flex; ">
                  <div class="viber-btn mp-button"></div> Viber</font>
              </font>
            </button>
            <a href="tel:+380000000000" class="tell-btn">Зателефонувати</a>
            
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="cd-request-popup js-cd-popup" data-name="header-callback" *ngIf="popupService.popupMessengerTwo">
    <!-- На отправку этой формы надо навесить цель ga('send', 'event', 'design_megagroup_header', 'order_call', 'form_submit'); -->
    
      <button class="cd-request-popup__close js-close-cd-popup cd-btn secondary close-btn" 
        (click)="popupService.closePopup('messengerTwo')"
      >
        <img 
          src="../assets/img/cross_w.png"
          alt=""
          (click)="popupService.closePopup('messengerTwo')" class="img-close close">
      </button>

    <div class="cd-request-popup__content js-popup-content js-request">
      <p class="cd-request-popup__title">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit">Ми в чатах:</font>
        </font>
      </p>
  
      <div class="mp-form-wrapper">
        <p class="mp-request-popup__text"></p>
        <form method="post" action="/" class="cd-form js-cd-form form" data-object="/solution">
  
          <div class="mp-form__btn">
            <button type="submit" class="cd-btn js-request form_submit_btn" style="width: 100%; background-color: #25d366;">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit" style="display: flex; ">
                  <div class="whatsapp-btn mp-button"></div> WhatsApp</font>
              </font>
            </button>
            <a href="https://tg.pulse.is/CalmHaven_bot" target="_blank" class="btn-href">
              <button type="button" class="cd-btn js-request form_submit_btn" style="width: 100%; background-color: #0088cc;">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit" style="display: flex; ">
                    <div class="tg-btn mp-button"></div> Telegram</font>
                </font>
              </button>
            </a>
            <button type="submit" class="cd-btn js-request form_submit_btn" style="width: 100%; background-color: #7360f2;">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit" style="display: flex; ">
                  <div class="viber-btn mp-button"></div> Viber</font>
              </font>
            </button>
            <a href="tel:+380000000000" class="tell-btn">Зателефонувати</a>
            
          </div>
        </form>
      </div>
    </div>
  </div>