.btn-href{
    height: 100%;
    display: block;
}
a {
    text-decoration: none;
}
.form_submit_btn {
    margin: 10px 10px!important;
}

.id-site {
    margin-top: 10px;
    color: #242424;
    width: fit-content;
    border: #7d28c1 1px solid;
    border-radius: 15px;
    padding: 4px 10px;
    i {
        font-size: 14px;
    }
    span {
        color: #7d28c1;
        font-weight: bold;
        font-size: 18px;
    }
}

.qu-popup {
    top: auto;
    background-color: #feff79;
    transform: translateX(10%);
}

.close-btn {
    background: #c58ccf!important;
}

@media (max-width: 600) {
    .close-btn {
        display: none;
    }
}

.close-btn:hover {
    background: #d7a6e0!important;
}

.img-close {
    right: unset;
    top: unset;
}

.email_form {
    justify-items: center;
    margin-bottom: 20px;
    text-align: center;
    
}
.font_form {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: -.4px;
    text-align: center;
    color: #333;
    margin-top: 10px;
    margin-bottom: 0;
}

.mp-request-popup__outer{
    width: 100%
}

.text_form {
    font-size: 14px;
}

.field {
    border: none;
    background: none;
    margin: 10px 10px;
    border-bottom: 1px solid #25d366;
    width: 100%;
}
input:hover, input:focus, input:active {
    outline: 0
}
.submit_btn {
    cursor: pointer;
    border: none;
    background-color: #1ca345;
    border-radius: 24px;
    width: 200px;
    height: 40px;
    color: white;
    margin-bottom: 5px;
    font-size: 18px;
}


.success_form {
    background-color: #c6ffc6;
    border: 1px green dashed;
    text-align: center;
    padding: 40px;
    margin-bottom: 30px;
    color: green;
    border-radius: 10px 10px 0px 0px;
}
.form_btn {
    .cd-request-popup__title {
    margin-top: 40px;
    margin-bottom: 0px;
    }

}

.cd-form {
    text-align: center;
}
.submit_btn:active .submit_btn:valid {
    transform: translateY(2px);
    background-color: #2bc559;
}
.submit_btn:hover {
    background-color: #2bc559;
}
.submit_btn:disabled {
    background-color: #a9a9a9!important;
    cursor: not-allowed;
}

.invalid, .invalid:hover, .invalid:active, .invalid:focus {
    border-color: red!important;
    
}

.btnScroll {
    width: 30px;
    height: 30px;
    background-color: #c58ccf;
    color: white;
    border-radius: 15px;
    align-content: center;
    text-align: center;
    margin-bottom: 5px;
    user-select: none
}

.scrollPopup {
    position: absolute;
    top: 20%;
    right: -10%;
    display: grid;
    cursor: pointer;
    user-select: none
}