.mp-catalog-category {
    cursor: pointer;
    color: black;
}

.mp-catalog-category.active {
    color: #0169d9;
}

.btn-href {
    height: 100%;
    display: block;
}
a {
    text-decoration: none;
}
.form_submit_btn {
    margin: 10px 10px !important;
}
.btn-catalog .mp-button {
    margin-right: 0px !important;
}

.mp-form__btn {
    display: flex;
    justify-content: center;
}
.span-text {
    color: #ffffff;
    background: #0088cc;
    border-radius: 10px;
    padding: 5px 15px;
}

.tell-btn {
    font-size: 20px;
}

.mp-form__btn {
    margin-bottom: 10px;
}

@media (min-width: 1000px) {
    .span-text {
        font-size: 20px;
    }
    
}

@media (max-width: 600px) {
    .span-text.big {
        display: none;
    }
}
@media (min-width: 601px) {
    .span-text.mobile {
        display: none;
    }
}

.id-block {
    border-radius: 15px;
    padding: 0 20px;
    height: 40px;
    place-content: center;
    align-content: center;
    border: #7d28c1 1px solid;
    background-color: white;
    color: #7d28c1;
    font-weight: 700;
    width: 140px;
    text-align: center;
    display: flex;
    align-items: center;
}