.mp-catalog-category {
    cursor: pointer;
    color: black;
}

.mp-catalog-category.active {
    color: #0169d9;
}

.id-block {
    border-radius: 15px;
    padding: 0 20px;
    height: 40px;
    align-content: center;
    border: #7d28c1 1px solid;
    background-color: white;
    color: #7d28c1;
    font-weight: 700;
    width: 140px;
    text-align: center;
}