.popup_btns {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    z-index: 10;
}

@media (min-width: 960px) {
    .mp-catalog-item__demo-btn, .mp-catalog-item__more-btn {
        width: 15vw;
    }
}


@media (max-width: 767px) {
  .bigImg {
    width: 120%!important;
    margin-top: 0px!important;
  }
}

.id-site {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: #01acdbc9;;
    font-weight: bold;
}

.img-popup {
    width: 80%;
    margin-top: 30px;
}

.hovertext {
    z-index: 1000;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 8vh;
    color: #01acdbc9;
    font-family: cursive;
}