.popup_btns {
    width: 100%;
    position: absolute;
    text-align: center;
    display: inline-block;
    z-index: 10;
    user-select: none;
    pointer-events: none;
}


@media (min-width: 1080px) {
    .mp-catalog-item__demo-btn, .mp-catalog-item__more-btn {
        width: 250px;;
    }
}
@media (min-width: 701px) and (max-width: 1080px) {
    .mp-catalog-item__demo-btn, .mp-catalog-item__more-btn {
        width: 200px;
    }
    .qu {
        transform: translate(20px, 0);
    }
}
@media (max-width: 440px) {
    .mp-catalog-item__demo-btn, .mp-catalog-item__more-btn {
        width: 140px;
        font-size: 12px;
    }
    .popup-price {
        font-size: 9px!important;
    }
    .qu {
        transform: translate(15px, -5px);
    }
  }

@media (max-width: 767px) {
 .img-popup {
    margin-top: 60px!important;
    width: 120%!important;
 }
  /* .bigImg {
    margin-top: 0px!important;
  } */
}

.id-site {
    position: fixed;
    width: 100%;
    text-align: center;
    bottom: 10px;
    color: #7d28c1;
    font-weight: bold;
}

.img-popup {
    width: 80%;
    margin-top: 30px;
    user-select: none;
}

.hovertext {
    z-index: 1000;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 8vh;
    color: #01acdbc9;
    font-family: cursive;
    user-select: none;
}

.popup-price {
    font-size: 12px;
    user-select: none;
}


.qu {
    width: 20px;
    height: 20px;
    transform: translate(30px, 0);
    user-select: none;
}

/* @media (max-width: 1120px) {
    .qu {
        transform: translate(14px, 0);
    }
} */

@media (max-width: 700px) {
    .qu {
        transform: translate(14px, -5px);
    }
}


.mp-catalog-item__demo-btn, .mp-catalog-item__more-btn {
    position: relative;
    pointer-events: auto;
}



@media (min-width: 900px) {
    .qu-popup  {
        left: 80%;
    }
  }
  
  @media (min-width: 600px) and (max-width: 899px) {
    .qu-popup  {
        right: 20%;
        width: 240px;
    }
  }
  
  @media (min-width: 440px) and (max-width: 599px) {
    .qu-popup  {
        width: 240px;
        top: 30%;
    }
  }
  
  @media (max-width: 439px) {
    .qu-popup  {
        width: 240px;
        top: 40px;
        left: 20%;
        position: fixed;
    }
  }