<div class="popup" *ngIf="popupService.popupCard" (click)="closeQu($event)">
  <div class="mp-catalog-item__btns popup_btns" (click)="closePopup($event)">
    <a data-analytics-target="target_solution_demo_solution" target="_blank"
      class="cd-btn mp-catalog-item__demo-btn js-analytics"
      (click)="onClickBtn($event, 'rent')"
      >
      <div class="qu-popup" *ngIf="popupQuRen">
        <p class="qu-text">
          При замовленні оренди ми відразу розпочинаємо виготовлення сайту за вибраним замовником дизайном.
        </p>
        <img class="qu-close" src="../assets/img/cross.png">
      </div>
  
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit" >
          Оренда
        </font>
        <br>
        <font class="popup-price">{{popupService.card.promotionalPrice}} грн/міс.</font>
        
      </font>
      <div><img
        class="qu"
        id="ren"
        src="../assets/img/question_black.png"
        ></div>
    </a>
    
    <a data-analytics-target="target_solution_more_solution"
      class="cd-btn mp-catalog-item__more-btn js-analytics"
      (click)="onClickBtn($event, 'reservation')">
      
      <div class="qu-popup" *ngIf="popupQuRes">
        <p style="color: black" class="qu-text">
          При замовленні бронювання дизайн знімається з продажу та чекає на рішення замовника протягом обумовленого часу. Замовник може одночасно забронювати декілька дизайнів сайтів.
        </p>
        <img class="qu-close" src="../assets/img/cross.png">
      </div>
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">
          Бронювання
        </font>
        <br>
        <font class="popup-price">10 грн/день.</font>

      </font>
      <div>
        <img class="qu" id="res" src="../assets/img/question.png"></div>
    </a>
  </div>
  <div class="id-site">
    
    <p> ID: {{popupService.card.id}}</p>
  
  </div>
  <div class="close-popup close"><img 
    src="../assets/img/cross_w.png"
    alt=""
    (click)="popupService.closePopup('card')" class="img-close close">
  </div>
  
  <div #scrollPopup class="mp-catalog-item-popup close" (click)="closePopup($event)">
    <img
      [attr.srcset]="catalogService.getSrcSet(popupService.card.id, popupService.card.format)"
      class="img-popup"
      (load)="status = true"
    >
  </div>
</div>  
<div class="preload" style="position: absolute; z-index: 1100" *ngIf="!status && popupService.popupCard">
  <div class="loader"></div>
</div>