<div class="main" #app  [ngClass]="{'scroll-off': popupService.popupMessenger || popupService.popupCard}">
  <app-popup-card></app-popup-card>

  <app-header-menu></app-header-menu>
  
  <app-popup-messenger></app-popup-messenger>
  
  
  
  <div class="overlay" *ngIf="popupService.popupMessengerTwo" (click)="popupService.closePopup('messengerTwo')" style="display: block"></div>
  
  <div class="mp-catalog sites">
  
    <div class="mp-catalog__inner search-overlay-before" data-urldir="solution">
      <div class="mp-wrapp mp-catalog__wrapp mp-wrapp--for-solution">

        <app-catalog-content [app]="appDiv" style="display: flex"></app-catalog-content>
      </div>
    </div>
  </div>

  <div class="mp-request-popup js-popup js-request">
    <button class="mp-request-popup__close js-close-popup cd-btn secondary">
  
    </button>
    <p class="mp-request-popup__title">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">Заявка</font>
      </font>
    </p>
    <p class="mp-request-popup__text">
      <font style="vertical-align: inherit">
        <font style="vertical-align: inherit">
          Ми передзвонимо Вам протягом кількох хвилин та відповімо на Ваші
          запитання.
        </font>
      </font>
    </p>
    <form action="" class="mp-request-popup__form form js-analytics-submit">
      <div class="mp-request-popup__outer">
        <div class="mp-request-popup__inner">
          <label class="cd-input cd-field required">
            <span class="cd-input__wrapper">
              <input type="text" class="cd-input__field" name="name" placeholder="Олег" />
            </span>
            <span class="cd-field__text">
              <span class="cd-field__label">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Як вас звати?</font>
                </font>
              </span>
            </span>
          </label>
          <label class="cd-input cd-field required">
            <span class="cd-input__wrapper">
              <input type="text" name="phone" class="cd-input__field" placeholder="Телефон" />
            </span>
            <span class="cd-field__text">
              <span class="cd-field__label">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Телефон із кодом</font>
                </font>
              </span>
            </span>
          </label>
          <label class="cd-input cd-field required">
            <span class="cd-input__wrapper">
              <input type="text" name="email" class="cd-input__field" placeholder="example@mail.ua" />
            </span>
            <span class="cd-field__text">
              <span class="cd-field__label">
                <font style="vertical-align: inherit">
                  <font style="vertical-align: inherit">Ваш e-mail</font>
                </font>
              </span>
            </span>
          </label>
        </div>
      </div>
      <div class="mp-request-popup__bottom">
        <p class="mp-request-popup__privacy">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Залишаючи заявку, ви приймаєте
            </font>
          </font><a href="###/privacy" class="mp-link">
            <font style="vertical-align: inherit">
              <font style="vertical-align: inherit">політику конфіденційності</font>
            </font>
          </a>
        </p>
        <button class="cd-btn mp-request-popup__btn js-request large form_submit_btn">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Надіслати заявку</font>
          </font>
        </button>
      </div>
    </form>
  </div>
</div>


<!-- <div class="cd-request-popup js-cd-popup" data-name="header-callback"> -->
  <!-- На отправку этой формы надо навесить цель ga('send', 'event', 'design_megagroup_header', 'order_call', 'form_submit'); -->
  <!-- <button class="cd-request-popup__close js-close-cd-popup cd-btn secondary"> -->

  <!-- </button> -->
  <!-- <div class="cd-request-popup__content js-popup-content js-request"> -->
    <!-- <p class="cd-request-popup__title"> -->
      <!-- <font style="vertical-align: inherit"> -->
        <!-- <font style="vertical-align: inherit">Замовити дзвінок</font> -->
      <!-- </font> -->
    <!-- </p> -->

    <!-- <div class="mp-form-wrapper"> -->
      <!-- <p class="mp-request-popup__text"></p> -->
      <!-- <form method="post" action="/" class="cd-form js-cd-form form" data-object="/solution"> -->
        <!-- <label class="cd-input cd-field required"> -->
          <!-- <span class="cd-input__wrapper"> -->
            <!-- <input type="text" class="cd-input__field" name="name" size="30" maxlength="100" value="" /> -->
          <!-- </span> -->

          <!-- <span class="cd-field__text"> -->
            <!-- <span class="cd-field__label"> -->
              <!-- <font style="vertical-align: inherit"> -->
                <!-- <font style="vertical-align: inherit">Ваше ім'я</font> -->
              <!-- </font> -->
            <!-- </span> -->

            <!-- <span class="cd-field__error"></span> -->
          <!-- </span> -->
        <!-- </label> -->

        <!-- <label class="cd-input cd-field required"> -->
          <!-- <span class="cd-input__wrapper"> -->
            <!-- <input type="text" class="cd-input__field" name="phone" size="30" maxlength="100" value="" /> -->
          <!-- </span> -->

          <!-- <span class="cd-field__text"> -->
            <!-- <span class="cd-field__label"> -->
              <!-- <font style="vertical-align: inherit"> -->
          <!--       <font style="vertical-align: inherit">Ваш телефон</font> -->
              <!-- </font> -->
            <!-- </span> -->

            <!-- <span class="cd-field__error"></span> -->
          <!-- </span> -->
        <!-- </label> -->

        <!-- <div class="mp-form__btn"> -->
          <!-- <button type="submit" class="cd-btn js-request form_submit_btn"> -->
            <!-- <font style="vertical-align: inherit"> -->
              <!-- <font style="vertical-align: inherit">Замовити дзвінок</font> -->
            <!-- </font> -->
          <!-- </button> -->
          <!-- <div class="mp-form__privacy"> -->
            <!-- <font style="vertical-align: inherit"> -->
              <!-- <font style="vertical-align: inherit">Відправляючи форму, Ви приймаєте -->
              <!-- </font> -->
            <!-- </font><a href="###/privacy" target="_blank"> -->
              <!-- <font style="vertical-align: inherit"> -->
                <!-- <font style="vertical-align: inherit">політику конфіденційності</font> -->
              <!-- </font> -->
            <!-- </a> -->
          <!-- </div> -->
        <!-- </div> -->
      <!-- </form> -->
    <!-- </div> -->
  <!-- </div> -->
<!-- </div> -->

<script async="" type="text/javascript">
  var megacounter_key = "";
</script>

<script async="" type="text/javascript" src="../assets/js/loader.js"></script>

<font style="vertical-align: inherit">
  <font style="vertical-align: inherit"> </font>
</font>
<script type="text/javascript" src="../assets/js/4fc873ae1ab788403d009505.js"></script>
<div class="mg-global-messengers" (click)="popupService.openMessengerTwo()">
  <button class="mg-global-messengers__button">
    <span></span><span></span><span></span>
  </button>
  <div class="mg-global-messengers__list">
    <div class="mg-global-messengers__list-inner">
      <div class="mg-global-messengers__item">
        <button class="mg-global-messengers__item-button js-onicon-button">
          <img src="../assets/images/message_chat.svg" alt="" />
        </button>
        <div class="mg-global-messengers__item-text">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Онлайн-чат</font>
          </font>
        </div>
      </div>
      <div class="mg-global-messengers__item">
        <button class="mg-global-messengers__item-button js-telegram-button">
          <img src="../assets/images/message_tg.svg" alt="" />
        </button>
        <div class="mg-global-messengers__item-text">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Telegram</font>
          </font>
        </div>
      </div>
      <div class="mg-global-messengers__item">
        <button class="mg-global-messengers__item-button js-whatsapp-button">
          <img src="../assets/images/message_wa.svg" alt="" />
        </button>
        <div class="mg-global-messengers__item-text">
          <font style="vertical-align: inherit">
            <font style="vertical-align: inherit">Whatsapp</font>
          </font>
        </div>
      </div>
    </div>
  </div>
</div>