<div class="mp-main-menu__bot">
    
    <div class="mp-main-menu__bot-in mp-wrapp" style="justify-content: space-between;">
      <!-- <nav class="mp-main-menu__bot-nav">
        <ul class="mp-main-menu__bot-nav-in">
          <li class="mp-main-menu__bot-item">
            <a class="mp-main-menu__bot-link js-analytics" href="https://butterlife-online.vercel.app/index_2.html">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  Унікальні сайти
                </font>
              </font>
            </a>
          </li>
          <li class="mp-main-menu__bot-item">
            <a class="mp-main-menu__bot-link js-analytics"
              href="https://butterlife-online.vercel.app/index_2.html">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  Шаблони сайтів
                </font>
              </font>
            </a>
  
          </li>
          <li class="mp-main-menu__bot-item">
            <a class="mp-main-menu__bot-link js-analytics"
              href="https://butterlife-online.vercel.app/index_2.html">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  Шаблони магазинів
                </font>
              </font>
            </a>
  
          </li>
          <li class="mp-main-menu__bot-item">
            <a class="mp-main-menu__bot-link js-analytics"
              href="https://butterlife-online.vercel.app/index_2.html">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit"> Логотипи </font>
              </font>
            </a>
          </li>
        </ul>
      </nav> -->
      <p style="font-size: 22px">
        <b>Rieltor.website</b> - Готові рішення для ріелторів: зручний сайт, впевнений бізнес</p>
      <a class="mp-main-menu__link js-analytics" (click)="popupService.openMessengerTwo()">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit"> Замовити сайт </font>
        </font>
      </a>
    </div>
  </div>