<div class="mp-main-menu__bot">
    
    <div class="mp-main-menu__bot-in mp-wrapp">
      <nav class="mp-main-menu__bot-nav">
        <ul class="mp-main-menu__bot-nav-in">
          <li class="mp-main-menu__bot-item">
            <a class="mp-main-menu__bot-link js-analytics" href="#"
              data-analytics-target="design_megagroup_header_ready_design">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  Унікальні сайти
                </font>
              </font>
            </a>
          </li>
          <li class="mp-main-menu__bot-item">
            <a class="mp-main-menu__bot-link js-analytics" data-analytics-target="design_megagroup_header_sites"
              href="#">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  Шаблони сайтів
                </font>
              </font>
            </a>
  
          </li>
          <li class="mp-main-menu__bot-item">
            <a class="mp-main-menu__bot-link js-analytics" data-analytics-target="design_megagroup_header_sites"
              href="#">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit">
                  Шаблони магазинів
                </font>
              </font>
            </a>
  
          </li>
          <li class="mp-main-menu__bot-item">
            <a class="mp-main-menu__bot-link js-analytics" data-analytics-target="design_megagroup_header_logos"
              href="#">
              <font style="vertical-align: inherit">
                <font style="vertical-align: inherit"> Логотипи </font>
              </font>
            </a>
          </li>
        </ul>
      </nav>
      <a class="mp-main-menu__link js-analytics" href="#" data-analytics-target="design_megagroup_header_order_site">
        <font style="vertical-align: inherit">
          <font style="vertical-align: inherit"> Замовити сайт </font>
        </font>
      </a>
    </div>
  </div>